.details-container{
    @media (min-width: 360px) and (max-width: 600px) {
        flex-direction: column;

        .btn{
            background: #000;
            color: white;
        }
    }
}

.details-container-2{
    @media (min-width: 360px) and (max-width: 600px) {
        flex-direction: column;
        padding: 1rem;

        .level-container{
            width: 100%;
            height: 100%;
        }
        .img-container{
            display: none;
        }
        .level-container-2{
            gap: 0;
        }
        .level-container-3{
            width: 100%;
            gap: 10px;
        }
        .xp-container{
            width: 45%;
        }
    }
}

.contact-container{
    @media (min-width: 360px) and (max-width: 600px) {
        flex-direction: column;
        padding: 1rem;

        .contact-links-container{
            width: 100%;
            height: 50%;
        }

        .contact-form-container-1{
            width: 100%;
            height: 70%;
        }
    }
}