.card {
    width: 50px;
    height: 50px;
    perspective: 1000px; 

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d; 
        transition: transform 0.6s ease; 

        &:hover {
            transform: rotateY(180deg); 
        }

        .front,
        .back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden; 
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        .front {
            background-color: #fff; 
            z-index: 2; 
        }

        .back {
            background-color: #000; 
            color: #fff;
            transform: rotateY(180deg); 
        }
    }
}
.skillCards{
    @media (min-width: 360px) and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        justify-items: flex-start;

        .inner{
            width: 100%;
        }
    }
}