@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    body{
        padding: 0;
        margin: 0;
        background: #fff;
        .harmburger-container{
            @media (min-width: 360px) and (max-width: 600px) {
                display: flex;
        }

    }

}
}


        .snap_container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

    scrollbar-width: none; 
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    display: none;
  }
}

.snap_section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}